node_modules
**/node_modules
**/dist
**/.next
.data
.env
.env.local
**/.env*
!**/.env.example
**/*.private.json
**/*.jks
**/*.keystore
**/build
**/.gradle
.idea
.git
.turbo
.impeccable
test-results
playwright-report
